<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Species:</strong>
  <%= @pet.species %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_pet_path(@pet) %> |
  <%= link_to 'New Comment', new_comment_for_pet_path(@pet.id.to_s) %>
<% end %>
<%= link_to 'Back', pets_path %>
