<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @commenter.name %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @commenter.comment %>
</p>

<p>
  <strong>Has cat:</strong>
  <%= @commenter.has_cat %>
</p>

<% if user_signed_in? %>
  <%= link_to 'Edit', edit_commenter_path(@commenter) %> |
<% end %>
<%= link_to 'Back', commenters_path %>
